//Variables
$verde : #38c377
$verde-limon : #98ba06
$azul : #36a8e0
$cafe: #4f3013
$morado: #5a61ab
$rosado: #883d84
$gris: #787878

@font-face
  font-family: "general"
  src: url("../font/Antonio-Regular.ttf")
@font-face
  font-family: "ligera"
  src: url("../font/Antonio-Light.ttf")
@font-face
  font-family: "bold"
  src: url("../font/Antonio-Bold.ttf")
@font-face
  font-family: "avenir bold"
  src: url("../font/AvenirNextLTPro-Bold.ttf")
@font-face
  font-size: "avenir"
  src: url("../font/AvenirNextLTPro-Regular.ttf")
@font-face
  font-size: "avenir medium"
  src: url("../font/avenirltstd_medium.ttf")
body
  font-family: "ligera"
h3,h4, h5,h6
  font-family: "general"
.sub-1
  color: $verde
  border-left: 4px solid $verde-limon
  padding-left: 20px
.sub-2
  color: rgb(4, 134, 40)
  border-left: 4px solid $verde
  padding-left: 20px
.sub-3
  border-left: 4px solid rgb(59, 191, 209)
  padding-left: 20px
.sub-4
  border-left: 4px solid rgb(59, 191, 209)
  padding-left: 20px
  color: #0662dd
.sub-5
  border-left: 4px solid rgb(192, 60, 246)
  padding-left: 20px
  color: #8711b8
  margin-bottom: 0.8em


.menu
  font-family: "bold"
  letter-spacing: 0.1em
.menu li a
  line-height: 1.21em
#encabezado
  background-color: #ffffff
  font-size: 1em
  color: $gris
  padding-top: 5px
  padding-bottom: 5px
  font-family: "ligera"
#encabezado img
  width: 230px
  height: 120px
.contador
  width: 300px
  border: 1px solid gray
  text-align: center
  border-radius: 8px
.contador h5
  padding-top: 5px
  padding-bottom: 4px
  margin-top: -8px
  margin-bottom: -8px
.contador #contador
  color: #ffffff
  font-size: 13px
  background: #787878
  margin: 3px
  border-radius: 0 0 8px 8px
#redes-header img
  width: 25px
  height: 20px
  margin-bottom: 5px

#submenu-principal, .sub-menu-central
  border: 0
#submenu-principal li a
  font-family: general
  font-size: 1em
#submenu-principal a
  background: #ffffff
  color: $gris

#menu-central
  padding: 17px 0 17px 0
  background:#ffffff
  border: 0
#menu-central a
  color: #606060
  font-size: 1.8em
  text-transform: uppercase
#menu-central a:hover
  color: $azul
  background: #ffffff
#menu-sticky, .sticky-container
  background: white
.sub-menu-central
  font-family: general
.sub-menu-central li
  font-size: 10px

.back-1
  background: url("../img/fondo-5.png")
  background-size: 10% 100%
  background-repeat: no-repeat
  background-position: left center
.back-2
  background: url("../img/fondo-4.png")
  background-size: 10% 80%
  background-repeat: no-repeat
  background-position: right center
//===== Video portada ========
#video
  overflow: hidden
  height: 70vh
  min-width: 100vw
#video video
 transform: translateY(-190px)
#barra
  margin-bottom: 1em
// ===== Temas =======
#temas-slider
  height: 320px
.fondo-verde
  background: #94c01f
.fondo-acuamarina
  background-color: #00a099
.fondo-azul
  background-color: #05bbda
.fondo-azulmarino
  background-color: #2d2e82
.fondo-rosado
  background-color: #e61d73
.fondo-verde, .fondo-acuamarina, .fondo-azul, .fondo-azulmarino, .fondo-rosado
  padding: 3em 15em
  text-align: justify !important
  color: white
  min-height: 100%
#tematicas #mensajes
  padding: 0
#iconos-temas
  background:#eeeeee
  margin-bottom: 5em
#iconos-temas img
  height: 6em
  margin: 0.856em 0
#mensajes .orbit .orbit-container .orbit-slide
  height: 20em
#img-slider
  padding: 0
#img-slider img
  min-width: 100%
  min-height: 100%
  padding: 0
  margin: 0
// ==== sección actividades ====
#eventos
  background: #019e57
#eventos .column:nth-child(even) figcaption
  text-align: right
  padding-right: 10%
  transition: .4s
  transform: translateX(300px)
  -webkit-transform: translateX(300px)
  -moz-transform: translateX(300px)
  cursor: pointer
  text-shadow: 5px 5px 5px #666666

#eventos .column:nth-child(even):hover figcaption
  transform: translateX(0px)
  -webkit-transform: translateX(0px)
  -moz-transform: translateX(0px)

#eventos .column:nth-child(odd) figcaption
  padding-left: 10%
  transition: .4s
  transform: translateX(-250px)
  -webkit-transform: translateX(-250px)
  -moz-transform: translateX(-250px)
  cursor: pointer
  text-shadow: 0px 0px 8px #666666

#eventos .column:nth-child(odd):hover figcaption
  transform: translateX(0px)
  -webkit-transform: translateX(0px)
  -moz-transform: translateX(0px)
.text-inf h3, .subtitulo
  text-transform: uppercase
  margin-bottom: 0
  padding-bottom: 0
.orbit-imagen:hover
 opacity: .5

//==== Sección patrocinadores y proveedores ===
#proveedores
  padding: 80px 0 80px
#proveedores h3
  color: #0d848a
  font-family: general
  margin-bottom: 20px
#proveedores h4
  font-family: ligera
  color: #11b1b5
  margin: 1em 0 .5em 0
#proveedores img:first-child
  height: 150px
#patrocinadores h3 a
  margin: 1em 0 0
  color: white
  font-family: general
  background-color: #11b1b5
  display: inline-block
  padding: .3em 1.2em .3em 1.2em
.apoyos
  border: 1px solid #11b1b5
.img-patrocinador
  height: 90px !important
  margin: 20px 30px 20px 0px
.marcas-1
  background-image: url('../img/fondo-1.png')
  background-size: 10% 100%
  background-repeat: no-repeat
  background-position: right center
.marcas-2
    background-image: url('../img/fondo-2.png')
    background-size: 10% 100%
    background-repeat: no-repeat
    background-position: left center

// ==== sección contacto====
#contenido-contacto
  margin-right: 3em
#contacto
  background: $azul
  color: white
  font-family: "avenir"
  margin-bottom: 5em
#contacto h6, #contacto h3
  font-family: "avenir bold"
#contacto h6
  margin-top: 2em
  margin-bottom: 0
#contacto h3
  margin-top: -10px
.info-contacto
  font-size: .8rem
  margin-bottom: 1.2em
#contacto span
  background: white
  color: $azul
  display: block
  margin-bottom: 1em
  font-family: avenir
#form-contacto input[type=text], #form-contacto input[type=email], #form-contacto textarea
  border: 1px solid white
  background-color: $azul !important
  color: white
#form-contacto input::placeholder, #form-contacto textarea::placeholder
  color: white
#form-contacto input[type=submit]
  background: white
  color: $azul
  font-weight: bold
#mapa iframe
  width: 100%
  padding: 0
  margin: 0
#mapa
  padding: 0

//=== Boletos ===========
#boletos-contenedor
  margin-bottom: 5em
  background: url('../img/fondo-3.png')
  background-size: 10% 100%
  background-repeat: no-repeat
  background-position: right center
  font-family: avenir
.pricing-table
  border: solid 1px #883D84
  border-radius: 0 0 30px 30px
.pricing-table li
  border-bottom: dotted 1px #DDDDDD
  font-size: 0.90rem
  padding: 0.25rem 1.125rem
  color: rgb(93, 93, 93)
.pricing-table li a
  font-weight: 600
  letter-spacing: 0.1em
.pricing-table li i
  font-size: 1.25rem
  color: #883D84
  margin: 0
  padding: 0px
.pricing-table li:last-child
  border-bottom: 0
.pricing-table .title
  background-color: #883D84
  color: #EEEEEE
  font-size: 1.45rem
  border-bottom: 0
  font-family: "avenir bold"
  text-transform: uppercase
  padding: 0.450rem 0
.pricing-table .price
  background-color: #F6F6F6
  color: #883D84
  font-size: 1.75rem
  border-bottom: 0
  font-family: "avenir bold"
  padding: 1rem 0
.pricing-table .description
  color: #777777
  font-size: 0.625rem
.pricing-table .button
  margin: 0.585rem 0
  background: #883D84


//=== Sección registro boletín===
#registro
  background: $rosado
  margin-bottom: 40px
#registro h4
  padding-top: 2em
#registro h6
  margin-bottom: 2em
#registro h4 , #registro h6
  color: white
.btn-morado
  background:  $rosado
  border: 2px solid white
  border-radius:  1em
  padding-left: 2em
  padding-right: 2em
  text-transform: uppercase
  letter-spacing: 0.1em
  height: 3em
#registro-horizontal
  width: 100%
  font-family: "ligera"
.formulario-1
  padding-bottom: 1.2em
.formulario-1 input
  margin-bottom: 0
.formulario-1 label
  font-family: "ligera"
  color: white
  font-size: 1em
  text-transform: uppercase
.formulario-1 input[type=text]
  margin: auto
  border-color: white
  border-radius: 1em
  height: 3em
  color: $gris
.nota-boletin
  font-size: .8em
  color: white
  margin: auto
  padding-bottom: 4em
//Sección redes sociales
#redes-sociales
  margin-bottom: 30px
#redes-sociales img
    width: 70px
    height: 60px
    margin-left: 20px
//footer
footer
  background: #d4d4d0
  padding-top: 2em
  padding-bottom: 2em
footer img
  height: 100px
footer h5:first-child
  color: $gris
footer h4, footer h6, #menu-footer ul li a
  color: #828282
#menu-footer
  margin-top: 2em
.menu-text
  color: $gris
  text-transform: uppercase
  font-family: ligera
  letter-spacing: .01em
#menu-footer ul li a
  text-transform: uppercase
  font-family: ligera
  padding-top: 0
  letter-spacing: .03em
  font-size: .9em
#pie
  background: #c8c8c8
  height: 2em
#pie a
  font-size: 14px
  color: $gris
.data-sticky
  width: 100%
  background: white
  z-index: 100
  -webkit-box-shadow: 0px 2px 5px $gris
  -moz-box-shadow:    0px 2px 5px $gris
  box-shadow:         0px 2px 5px $gris
.text-inf
  position: absolute
  margin-top: -40%
  height: 100%
  width: 100%
  color: white

#menu-principal .dropdown.menu > li.is-dropdown-submenu-parent > a::after
      border-color: #b0bc46 transparent transparent
.redes-sociales a img
  width: 30px
  height: 30px
  float: right
  margin-left: 5px

.redes-sociales a, .redes-sociales
  color: white
  text-align: right
li .redes-sociales
  padding-left: 20px
  margin-bottom: 10px
//Menu off-canvas
#off-canvas, #off-canvas li a
  background-color: $verde
  color: white
  background-color: $verde
  text-transform: uppercase
  font-size:
#off-canvas .is-drilldown-submenu-parent > a::after
      border-color: transparent transparent transparent $morado
#off-canvas .js-drilldown-back > a::before
  border-color: transparent $morado transparent transparent

//====================  páginas  ====================================
.header
  background-repeat: no-repeat
  background-position: center center
  height: 200px
  margin: 0
.header-participar
  background-image: url('../img/header-1.1.jpg')
.header-magistrales
  background-image: url('../img/header-1.3.jpg')
.header-talleres
  background-image: url('../img/header-1.2.jpg')
.header-ciudad
  background-image: url('../img/header-1.4.jpg')
.header-tematicas
  background-image: url('../img/header-1.5.jpg')
.header-actividades
  background-image: url('../img/header-1.6.jpg')
.header-expo
  background-image: url('../img/header-expo.jpg')
.header-inscripciones
  background-image: url('../img/header-1.7.jpg')
main
  margin-bottom: 2.876em
  font-family: "avenir"
  color: #555555
main h3
  color: white
  font-family: "avenir bold"
  vertical-align: middle
  letter-spacing: 0.105em
  padding-top: 2.5em
  text-shadow: 2px 2px 2px #0e0e0e
.contenido
  margin-top: 3.265em
main p
  text-align: justify
main .contenido ul li
  text-align: justify
  margin-left: 0.438em
.letra-capital
  font-size: 150%

//====== Conferencias magistrales ======
.contenido-magistrales h4
  background: #009d96
  color: white
.fila-espacio
  margin-top: 1.65em


//====== TALLERES ======
.contenido-talleres h4
  background: #33a5c9
  color: white
//=========== Patrocinadores ===========
.patrocinador h6
  background: #466cd0
  color: white
  padding-left: 0.5em
  padding-top: 0.35em
  padding-bottom: 0.35em
.patrocinador span
  font-weight: bold
.patrocinador a
  color: #466cd0
.patrocinador img
  width: 80px
.categoria
  width: 120px
//==== Temáticas ===========
.planeacion-diseno h4
  background: #79bb4b
  color: white
  padding-left: .5em
.economia h4
  padding-left: .5em
  color: white
  background: #1ebadd
.la-ciudad h4
  padding-left: .5em
  color: white
  background: #24beac
.salud h4
  padding-left: .5em
  color: white
  background: #2b1194
.servicio-publico h4
  padding-left: .5em
  color: white
  background: #b605a5
// ======== La ciudad blanca ======
#video-ciudad
  max-height: 350px !important

//======== Hoteles  =====
.hoteles a
  color: #aa1a86
.hoteles a:hover
  color: #8137d5
//============ Inscripciones  ==============
.inscripciones
  margin-top: 4em
.fecha-precio
  font-size: 14px
  font-weight: bold
//======= Preguntas Frecuentes =======
a .accordion-title
  color: #194477 !important

//====== Expositores =================
.expo h4
  color: #1a9a87
.action
  height: 6em
  background-color: #e4e4e4
.action a
  text-transform: uppercase
  font-weight: bold
  letter-spacing: .08em
  margin-top: 2em
//=========== Sesiones ======
.lista-sesiones li
  font-size: 0.86em
  color: #545454
.isesiones
  width: 80px
//================== dispositivos moviles ================================

@media screen and (max-width: 800px)
  #patrocinadores h3
    font-size: 21px
  #proveedores
    padding-top: 40px
  footer h5
    margin-top: 30px
  #off-canvas, #off-canvas li a
    color: white
    background-color: $verde
    text-transform: uppercase
    font-size: 14px
