header{
  height: 65px;
  background-color: #3F2B56;
  color: #ffffff;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 1em;
}

header h4{
  border-left: 2px solid #ffffff;
  margin-left: 1em;
  padding-left:8px;
}
.logo-header img{
  height: 40px;
}
input[type=submit] {
  background: #3F2B56;
}
input[type=submit]:hover{
  background-color: #00AAA7;
}
.titulo{
  text-transform: uppercase;
  font-size: 18px;
}
.container{
  display: grid;
  grid-template-columns:40% 60%;
  grid-template-rows: 580px;
}
.item{
  margin: 20px;
}
.encabezado{
  background-color: #00AAA7;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  letter-spacing: .5px;
  margin-bottom: 1em;
}
.Instrucciones{
  background-color: #f1f1f1;
  padding: 20px;
  text-align: justify;
  font-size: 14px;
  color: #595857;
}
.Instrucciones span{
  font-weight: bold;
}
form label, form{
  color: #595857;
}

/* página registro concluido */
.pacifico{
  font-family: 'Pacifico', cursive;
}
.registrado{
  width: 40%;
  margin: 0 auto;
  margin-top: 20%;
}
.registrado-titulo{
  font-size: 35px;
  text-align: center;
  color: #4b2648;
  margin-bottom: 24px;
}
.registrado-mensaje{
  color: #787878;
  text-align: center

}
.registrado-nota{
  font-size: 13px;
  color: #787878;
}
.registrado-nota a{
  color: #7c2d7e;
}
